.u-center-text {
  text-align: center !important; }

.u-margin-bottom-md {
  margin-bottom: 4.8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-extra-big {
  margin-bottom: 10rem !important; }

.container {
  max-width: 130rem;
  margin: 0 auto; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.grid {
  display: grid; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-main: #ff922b;
  --color-main-dark-1: #331d09;
  --color-main-dark-2: #804916;
  --color-main-dark-3: #b3661e;
  --color-main-dark-4: #cc7522;
  --color-main-light-1: #ffe9d5;
  --color-main-light-2: #ffd3aa;
  --color-main-light-3: #ffbe80;
  --color-main-light-4: #ffa855;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

html {
  font-size: 62.5%; }

.section {
  padding: 4.8rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #fff; }

a {
  text-decoration: none; }

button {
  border: none;
  cursor: pointer;
  font-size: inherit; }

input,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

ul {
  list-style: none; }

.link:link, .link:visited {
  border-bottom: 1px solid currentColor;
  color: var(--color-main);
  transition: all 0.2s; }

.link:hover, .link:active {
  color: var(--color-main-dark-3);
  border-bottom: 1px solid transparent; }

.h--primary {
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
  transition: all 0.4s; }
  .h--primary__spec {
    display: inline-block;
    background-image: linear-gradient(to right, transparent 0%, var(--color-main) 50%, var(--color-main) 50%);
    transform: skew(-10deg); }
    .h--primary__spec span {
      transform: skew(10deg); }
  .h--primary:hover {
    transform: scale(1.1); }

.h--two {
  color: var(--color-main-dark-2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right bottom, var(--color-main-dark-4), var(--color-main));
  text-transform: uppercase;
  font-size: 3.8rem; }

.h--three {
  font-size: 2.4rem;
  margin-bottom: 1.2rem; }

.description {
  font-size: 1.8rem;
  line-height: 2; }

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 6.4rem; }
  .features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .features__icon-box {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff4ea;
    padding: 0.8rem; }
  .features__icon {
    height: 4.2rem;
    width: 4.2rem; }
  .features__text {
    margin-top: 2rem;
    text-align: center; }

.steps {
  column-gap: 9rem;
  row-gap: 12.8rem;
  align-items: center;
  justify-items: center; }
  .steps__num {
    font-size: 7rem;
    font-weight: 700;
    color: #ccc; }
  .steps__img {
    width: 100%; }
    .steps__img img {
      width: 100%; }
  .steps__desc-box {
    align-self: start; }

.featured__logo-box {
  display: flex;
  align-items: center;
  justify-content: center; }

.featured__heading {
  display: block;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #555;
  text-transform: uppercase;
  font-weight: 700; }

.featured__logo {
  width: 60%;
  filter: grayscale(1) brightness(0.1);
  opacity: 0.5; }

.section--get-started {
  background-color: var(--color-grey-light-1); }

.section--get-started, .section--trainers {
  padding: 8rem 4.8rem; }

.section--featured-in {
  background-color: var(--color-grey-light-1); }

.section--trainers {
  background-color: #fff4ea; }

.trainers {
  gap: 4.8rem;
  align-items: center; }
  .trainers__heading--1 {
    color: #444;
    font-size: 2.8rem; }
  .trainers__heading--2 {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .trainers .description {
    color: #555;
    font-size: 1.4rem;
    margin-bottom: 1.6rem; }
  .trainers__feature-container {
    column-gap: 2.4rem;
    row-gap: 6.4rem; }
  .trainers__img {
    width: 100%; }

.header {
  height: 85vh;
  color: #fff;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/hero.jpg);
  background-size: cover;
  position: relative; }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.4rem 0; }
  .header__nav-list {
    gap: 8rem; }
  .header__nav-link:link, .header__nav-link:visited {
    font-size: 2rem;
    color: inherit;
    transition: all 0.3s; }
  .header__nav-link:hover, .header__nav-link:active {
    color: var(--color-main); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex: 1; }
  .header__subheading {
    text-transform: capitalize;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 6.4rem; }
  .header__cta:link, .header__cta:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    border-radius: 8px;
    background-color: transparent;
    color: inherit;
    border: 1px double var(--color-main);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    align-self: center;
    transition: all 0.3s ease-out; }
  .header__cta:hover {
    background-color: var(--color-main);
    transform: translateY(-0.6rem); }
  .header__cta:active {
    transform: translateY(0); }

.logo {
  color: inherit;
  text-transform: uppercase;
  font-size: 3.3rem;
  font-weight: 500;
  margin-left: -6rem; }
