.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-extra-big {
    margin-bottom: 10rem !important;
}
