.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.2rem;
    row-gap: 6.4rem;

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__icon-box {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: #fff4ea;
        padding: 0.8rem;
    }

    &__icon {
        height: 4.2rem;
        width: 4.2rem;
    }

    &__text {
        margin-top: 2rem;
        text-align: center;
    }
}
