.h {
    &--primary {
        text-transform: uppercase;
        font-size: 4.8rem;
        font-weight: 300;
        margin-bottom: 3rem;
        transition: all 0.4s;

        &__spec {
            display: inline-block;
            background-image: linear-gradient(to right, transparent 0%, var(--color-main) 50%, var(--color-main) 50%);
            transform: skew(-10deg);

            span {
                transform: skew(10deg);
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &--two {
        // Add font-weight, fix the color
        color: var(--color-main-dark-2);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right bottom, var(--color-main-dark-4), var(--color-main));
        text-transform: uppercase;
        font-size: 3.8rem;
    }

    &--three {
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }
}

.description {
    font-size: 1.8rem;
    line-height: 2;
}
